<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>galeria| DeliberyBarber</title>

    <link rel="stylesheet" href="/public/css/global.css" />
    <link rel="stylesheet" href="/public/css/navbar.css" />
    <link rel="stylesheet" href="/public/css/footer.css" />
    <link rel="stylesheet" href="/public/css/public/gallery.css" />
  </head>
  <body>

        <!-- Navbar -->
    <header id="navbar"></header>
    <!-- galeria cortes -->
    <section class="gallery-section">
      <div class="container">
        <h2 class="section-title">Algunos de Nuestros Trabajos</h2>
        <div class="gallery-grid">
          <div class="gallery-image"></div>
          <div class="gallery-image"></div>
          <div class="gallery-image"></div>
          <div class="gallery-image"></div>
          <div class="gallery-image"></div>
          <div class="gallery-image"></div>
        </div>
      </div>
    </section>

    <!-- cortes comunes -->
    <section class="haircuts">
      <div class="container">
        <h2 class="section-title">Estilos Más Solicitados</h2>

        <div class="grid grid-3">
          <article class="card">
            <h3>Fade</h3>

            <p>Degradado moderno y elegante.</p>
          </article>

          <article class="card">
            <h3>Pompadour</h3>

            <p>Estilo clásico con gran volumen.</p>
          </article>

          <article class="card">
            <h3>Buzz Cut</h3>

            <p>Corte corto y de fácil mantenimiento.</p>
          </article>
        </div>
      </div>
    </section>
    <!-- cta -->
    <section class="cta">
      <div class="container">
        <h2>Inspírate y agenda tu próximo corte</h2>

        <p>Regístrate y encuentra al barbero ideal para ti.</p>

        <a href="../auth/register.html" class="btn btn-primary">
          Crear Cuenta
        </a>
      </div>
    </section>

        <!-- Footer -->
    <footer id="footer"></footer>

    <!-- Componentes -->
    <script
        type="module"
        src="../../../public/js/components/navbar.js"
    ></script>

    <script
        type="module"
        src="../../../public/js/components/footer.js"
    ></script>
  </body>
</html>


