<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Client</title>
  </head>
  <body>
    <h1 id="welcomeMessage"></h1>

    <h2>Total de citas</h2>

    <p id="appointmentsCount"></p>

    <h2>Mis Citas</h2>

    <div id="appointmentsContainer"></div>

    <script type="module" src="../../../public/js/client/dashboard.js"></script>

    <!--conecta con los middleware-->
    <script type="module" src="../../middleware/auth.js"></script>

    <script type="module" src="../../middleware/client.js"></script>

    <!--conecta con los guards-->
    <script
      type="module"
      src="../../../public/js/guards/auth-guard.js"
    ></script>

    <script
      type="module"
      src="../../../public/js/guards/client-guard.js"
    ></script>
  </body>
</html>
