<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
  </head>
  <body>
    <form id="loginForm">
      <input type="email" id="email" placeholder="Correo" />

      <input type="password" id="password" placeholder="Contraseña" />

      <button type="submit">Iniciar Sesión</button>
    </form>


    <script type="module" src="../../../public/js/auth/login.js"></script>
  </body>
</html>
