<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <form id="registerForm">
      <input type="text" id="name" placeholder="Nombre" />

      <input type="email" id="email" placeholder="Correo" />

      <input type="password" id="password" placeholder="Contraseña" />

      <button type="submit">Registrarse</button>
    </form>


    <script type="module" src="/public/js/auth/register.js"></script>
  </body>
</html>
